name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      working-directory: ./python
      run: |
        python3 -m venv .venv
        source .venv/bin/activate
        pip install -r requirements.txt

    - name: Run tests
      working-directory: ./python
      run: |
        source .venv/bin/activate
        python tests.py -v

    - name: Build Docker image
      run: |
        docker build -t tyk-sre-assignment:latest .
